.discount-wrapper {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  .discount-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 5px;
    margin-top: 10px;
    span {
      font-size: 22px;
      padding: 0 5px;
    }
    .bp4-input-group {
      svg {
        height: 22px;
      }
      .bp4-input {
        height: 36px;
        line-height: 36px;
      }
    }
    .bp4-button {
      margin-right: 10px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      outline: none;
    }
    .tabs {
      overflow-y: hidden;
      overflow-x: auto;
      scrollbar-width: thin;
      .bp4-tab[aria-selected="true"] {
        color: #fff;
        .tab-title {
          // font-weight: bold;
          color: #fff;
          // box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
          > span {
            background-color: #ffffff46;
            color: #fff;
          }
        }
      }
      .bp4-tabs {
        &::-webkit-scrollbar-thumb {
          background-color: #999;
          border-radius: 10px;
        }
        &::-webkit-scrollbar-track {
          background-color: #fff;
        }
      }
    }
    .bp4-tab-list {
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      overflow: hidden;
      margin: 2px;
      .bp4-tab-indicator-wrapper {
        .bp4-tab-indicator {
          background-color: #2979ff;
          // border-radius: 5px;
          top: 0;
          height: 100%;
        }
      }
      > div {
        margin: 0;
        flex: 1;
        display: inline-flex;
        align-items: center;
        justify-content: center;
      }
    }
    .tab-title {
      padding: 4px 15px;
      margin: 0;
      font-weight: 500;
      color: #777;
      // background-color: red;
      text-align: center;
      transition: 0.2s;
      flex: 1;
      // border: 1px solid transparent;
      // border-color: transparent #106ba323;
      &:hover {
        background-color: #106ba322;
      }
      > span {
        margin-left: 2px;
        color: #999;
        // background-color: #106ba312;
        // font-weight: bold;
        // border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 0 6px;
        border-radius: 20px;
      }
    }
  }
  .discount-input {
    // display: grid;
    // place-items: center;
  }
}
